		/* Popup messages */
.mbu-popup{
position: fixed;
z-index: 99999;
width: 500px;
background-color: #F9EDBE;
border: 1px solid #F0C36D;
font-size: 12px;
padding: 3px;
text-align: center;
display: none;
font-weight: 900;
}
	.mbu-popup .close-btn, .mbu-dlg .close-btn{
	display: block;
	float: right;
	margin: 2px;
	padding: 1px;
	background-color: red;
	color: #000000;
	border: solid 1px #000000;
	font-size: 9px;
	cursor: pointer;
	line-height: 9px;
	}
	.mbu-popup p{
	margin: 2px 20px;
	}
	.mbu-popup a, .mbu-popup b{
	color: #2C5286;
	}

			/* Popup messages */
.mbu-dlg{
position: fixed;
z-index: 9999;
width: 500px;
height: auto;
background-color: #EEEEEE;
border: 1px solid #333333;
font-size: 11px;
display: none;
/*font-weight: 900;*/
}
	.mbu-dlg .mbu-dlg-title{
	background-color: #333333;
	padding: 3px;
	}
		.mbu-dlg .mbu-dlg-title p{
		color: #FFFFFF;
		margin: 0px;
		padding: 3px;
		width: 90%;
		}
	.mbu-dlg .mbu-dlg-body{
	padding: 5px;	
	}
		.mbu-dlg .mbu-dlg-body .dlg-buttons{
		margin: 0px;
		padding: 3px;
		}
		.mbu-dlg .mbu-dlg-body textarea{
		width: 100%;
		height: 50px;
		font-size: 10px;
		font-weight: 300;
		}
#mbu-tags{
width: 200px;                    
}
.mbu-search-result{
height: 200px;
overflow-x: auto;
margin: 5px 10px;
background-color: #EAEAEA;
border: 1px solid #CCCCCC;
}
    .mbu-search-result ul{
    width: auto;
    /* height: 170px; */
    }
.mbu-img-cell{
width: 150px;
padding: 5px 10px;
overflow: hidden;
vertical-align: baseline;
float: left;
}
	.mbu-img-cell .mbu-img-border{
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
		.mbu-img-cell .mbu-img-border>div{
		margin: 3px;
		height: 100px;
		overflow: hidden;
		background-color: #fff;
		}
	.mbu-img-cell h5{
	margin: 0px 0px 3px 0px;
	color: #828386;
        height: 15px;
        overflow-x: hidden;
	}
		.mbu-img-cell h5 a{
		color: #828386;
		}
	.mbu-img-cell .mbu-toolbar{
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	}
        
#mbu-search-form #mbu-indicator{
float: right;
visibility: hidden;
}
#mbu-search-form .mbu-pages{
float: right;
width: auto;
margin-right: 200px;
}
    #mbu-search-form .mbu-pages strong{
    color: green;
    }
    #mbu-search-form .mbu-pages .mbu-navlink{
    text-decoration: none;
    }
#mbu-info-box{
margin-bottom: 5px;
}
    #mbu-info-box p{
    margin: 3px 5px;
    }
    
.mbu-photo-action{
margin-left: 7px;        
}
    .mbu-photo-action img{
    height: 40px;
    weidth: auto;
    }
    
    .mbu-dlg-body code{
    display: block;
    margin: 10px 15px 0 5px;
    background-color: #CCFBFF;
    border: 1px solid #55DBE6;
    color: #555555;
    }
.mbu-dlg .mbu-option{
    margin: 5px 10px;
}
    .mbu-dlg .mbu-option label{
        width: 40%;
        float: left;
        display: block;
    }
.mbu-settings-pane{
margin-top: 40px;
margin-left: 30px;
background-color: #EEEEEE;
border: 1px solid #000000;
margin-bottom: 20px;
padding: 20px 10px;    
}
.mbu-brainstorm-status, .mbu-interview-status, .mbu-idea-status-name{
    font-style: italic;
}
.mbu-brainstorm-status-0, .mbu-interview-status-0, .mbu-idea-status-name-0{
    color: #d54e21;
}
.mbu-brainstorm-status-1, .mbu-interview-status-1, .mbu-idea-status-name-1{
    color: #78e822;
}
.mbu-interview-status-99{
    color: #e82222;
}
.mbu-interview-status-6{
    color: orange;
}
.mbu-info{
    padding: 5px;
    background-color: #fff7e0;
    border: 1px solid #ffe050;    
}
.mbu-table{
    width: 100%;
    border-collapse: collapse;
}
    .mbu-table tr{
        background-color: #e4e8ee;
        margin-bottom: 10px;
    }
        .mbu-table tr:hover{
            background-color: #d3d7ee;
        }
    .mbu-table td{
        padding: 10px;
        font-size: 11px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 20px #f1f1f1 solid;
    }
    .mbu-table td h5{
        font-size: 14px;
        margin: 10px 0px;
    }
    .mbu-ideas-table td .mbu-idea-view, .mbu-requests-table td .mbu-request-txt, .mbu-interviews-table td .mbu-interview-comment{
        font-size: 12px;
        border: 1px solid #777777;
        padding: 5px;
        background-color: #FFFFFF;
    }    
    .mbu-ideas-table td .mbu-idea-view{
        cursor: pointer;
    }
    .mbu-table td p{
        margin: 5px 0px;
    }
    .mbu-ideas-table td .mbu-idea-link{
        font-style: italic;
        margin-left: 30px;
    }
    .mbu-table td .mbu-context-menu{
        margin-top: 10px;
    }
.mbu-btn{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    margin-left: 5px;
}
.mbu-gray-btn{
    background-color: #eeeeee;
    border-color: #777777;
    color: #444444;    
}
    .mbu-gray-btn:hover, .mbu-gray-btn:active, .mbu-gray-btn:focus
        {
        background-color: #dddddd;
        border-color: #444444;
    }
.mbu-blue-btn{
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;    
}
    .mbu-blue-btn:hover, .mbu-blue-btn:active, .mbu-blue-btn:focus
        {
        background-color: #3276b1;
        border-color: #285e8e;
        color: #fff;        
    }
.mbu-orange-btn{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
    .mbu-orange-btn:hover, .mbu-orange-btn:active, .mbu-orange-btn:focus
        {
        background-color: #ed9c28;
        border-color: #d58512;
        color: #fff;        
    }    
.mbu-idea-attachments{
    margin: 5px 0px;
}
    .mbu-idea-attachments img.mbu-att-preview{
        height: 30px;
        width:  auto;
        margin-left: 10px;
        border: 1px solid #777777;
        cursor: pointer;
    }
        .mbu-idea-attachments img.mbu-att-preview:hover{
            border: 1px solid #7777FF;
        }
.mbu-userpic{
    height: 100px;
    width: auto;
}
.mbu-close {
    color: #FF0000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}
.mbu-close:hover, .mbu-close:focus {
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
button.mbu-close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline;
    padding: 0;
}
.mbu-glyphicon {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
}
.mbu-box{
    width: 100%;
}
    .mbu-box h3{
        padding: 0px 5px;
    }
    .mbu-box li{
        padding: 5px;
        font-size: 11px;
    }

.mbu-top-bar-item{
    cursor: pointer;
    font-weight: 900;
}
#wpadminbar .mbu-msg-count{
    background-color: #d54e21;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    line-height: 17px;
    margin: 1px 0 0 2px;
    vertical-align: middle;
    z-index: 26;
    padding: 1px 4px;
}

table.mbu-alerts{
    
}
    table.mbu-alerts tr:hover{
        background-color: #dddddd;
    }
    table.mbu-alerts .mbu-avatar{
        height: 80px;
        width: auto;
    }
.mbu-actions span{
    margin-left: 10px;
}
.mbu-scrollbox{
    border: 1px solid #a1a5a9;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 5px;
    background-color: #ffffff;
    width: 95%;    
}
.mbu-scrollbox#mbu-pm-text, .mbu-scrollbox#mbu-idea-preview, .mbu-scrollbox#mbu-interview-text{
    max-height: 200px;
    min-height: 200px;
}
    .mbu-scrollbox#mbu-pm-text p, .mbu-scrollbox#mbu-idea-preview p, .mbu-scrollbox#mbu-interview-text p{
        font-size: 11px;
    }
    .mbu-scrollbox#mbu-interview-text h4{
        font-size: 16px;
        font-weight: 900;
    }
    .mbu-scrollbox#mbu-interview-text h5{
        font-size: 14px;
        font-weight: 900;
    }    
#mbu-read-pm-dlg .mbu-avatar, #mbu-idea-dlg .mbu-avatar{
   height: 30px;
   width: auto;
   float: left;
   margin-right: 10px;
   margin-bottom: 10px;
}
#mbu-idea-dlg .mbu-sites-list span{
   font-size: 10px;
   margin-left: 15px; 
}
.mbu-questions-table{
   width: 70%;
   margin: auto;
}
    .mbu-questions-table .mbu-question-min-words{
        font-weight: 900;
    }
.mbu-new-answers-count{
    color: #e82222;
}

.form-table.mbu-settings-table th{
    width: 350px;
}

.mbu-social-icon{
    margin-left: 5px;
    height: 20px; 
    width: auto;    
}
.mbu-question-answer .mbu-answer-text{
    background-color: #ffffff;
    border: 1px solid #103b74;
    border-radius: 4px;
    font-size: 10px;
    margin-bottom: 5px;
    margin-left: 40px;
    padding: 5px;
}
.mbu-dlg .mbu-dlg-msg{
    background-color: #ffffff;
    border: 1px solid #103b74;
    border-radius: 4px;
    font-size: 11px;
    margin-bottom: 5px;
    padding: 5px;
    font-weight: 300;
}
    .mbu-dlg .mbu-dlg-msg strong{
        font-weight: 900;
    }
    .mbu-question-answer .mbu-answer-text p{
        font-size: 10px;
    }
.mbu-question-answer .mbu-answer-author {
    font-weight: 900;
    font-size: 11px;
    margin: 0px 5px;
}

.submit .mbu-dlg-button{
    margin-left: 10px;
}
.mbu-list-info{
    font-size: 12px;
    margin-top: 10px;
}
.mbu-alert li{
    list-style: disc;
    margin-left: 20px;
}
.mbu-help{
    font-style: italic;
    padding: 10px 45px;
    background: transparent url("../img/help2.png") left center no-repeat;
    background-size: 40px auto;
}
.mbu-info-icon{
    height: 30px;
    width:  auto;
}
.mbu-idea-todo-item{
    width: 70%;
    margin-bottom: 15px;
    border-bottom: solid 1px #AAAAAA;
}

#dashboard-widgets .mbu-input-wrap{
    margin-bottom: 10px;
}

.mbu-init-msg{
    background-color: #56A858;
    padding: 3px 5px;
    margin: 5px 0px;
    color: #FFFFFF;
    font-weight: 900;
}